<div class="container">
    <ol class="breadcrumb">
        <li><a href="#"><i class="icon icon-home"></i></a></li>
        <li><a href="#">Inicio</a></li>
        <li class="active">Preguntas Especificas</li>
    </ol>
    <form id="FormCuestionario" name="cuestionario" onsubmit="return false;">
        <div id="cuestionario">
            <h3>Preguntas Especificas</h3>
            <hr class="red">

            <div class="row">
                <div class="col-md-8">
                    <p style="width: 80%; text-align: justify;">
                        Indicar si estaría dispuesto a participar de manera conjunta con otra empresa, deacuerdo con lo establecido en el articulo 36 de la LOPSRM
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="pull-rigth">
                        <label>
                            <input type="radio" name="radio-01" value="opcion-01"> Si
                        </label>&nbsp;
                        <label>
                            <input type="radio" name="radio-01" value="opcion-02"> No
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <p style="width: 80%; text-align: justify;">
                        ¿Es, o ha sido, contratista y/o proveedor del IMSS?
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="pull-left">
                        <label>
                            <input type="radio" name="radio-01" value="opcion-01"> Si
                        </label>&nbsp;
                        <label>
                            <input type="radio" name="radio-01" value="opcion-02"> No
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <p style="width: 80%; text-align: justify;">
                        ¿Su cotización es vigente hasta el 31 de diciembre de 2019?
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="pull-left">
                        <label>
                        <input type="radio" name="radio-01" value="opcion-01"> Si
                    </label>&nbsp;
                        <label>
                        <input type="radio" name="radio-01" value="opcion-02"> No
                    </label>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <p style="width: 80%; text-align: justify;">
                        ¿Su cotización considera ajustes a las cantidades de los trabajos de obra pública/servicios requeridos que pudieran realizarse al momento de efectuar el procedimiento de contratación?
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="pull-left">
                        <label>
                            <input type="radio" name="radio-01" value="opcion-01"> Si
                        </label>&nbsp;
                        <label>
                            <input type="radio" name="radio-01" value="opcion-02"> No
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <p style="width: 80%; text-align: justify;">
                        Su representada ¿Cuenta con la experiencia y capacidad humana, técnica, económica, de equipamiento, legal y administrativa para brindaar el servicio relacionado con la obra, conforme a lo señalado en los Terminos de Referencia?
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="pull-left">
                        <label>
                <input type="radio" name="radio-01" value="opcion-01"> Si
                </label>&nbsp;
                        <label>
                                                <input type="radio" name="radio-01" value="opcion-02"> No
                                              </label>&nbsp;
                        <label>
                                                <input type="radio" name="radio-01" value="opcion-02"> No Cotizó
                                              </label>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <p style="width: 80%; text-align: justify;">
                        Indique el número de años de experincia que tiene su representada para trabajos de obra pública/servicios similares
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="pull-left">
                        <label>
                                                <input type="radio" name="radio-01" value="opcion-01"> Ninguno
                                              </label>&nbsp;
                        <label>
                                                <input type="radio" name="radio-01" value="opcion-02"> 1
                                              </label>&nbsp;
                        <label>
                                                <input type="radio" name="radio-01" value="opcion-01"> 2
                                              </label>&nbsp;
                        <label>
                                                <input type="radio" name="radio-01" value="opcion-01"> 3
                                              </label>&nbsp;
                        <label>
                                                <input type="radio" name="radio-01" value="opcion-01"> 4
                                              </label>&nbsp;
                        <label>
                                                <input type="radio" name="radio-01" value="opcion-01"> 5
                                              </label>&nbsp;
                        <label>
                                                <input type="radio" name="radio-01" value="opcion-01"> Mas
                                              </label>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <p style="width: 80%; text-align: justify;">
                        Indicar si estaría dispuesto a participar de manera conjunta con otra empresa, deacuerdo con lo establecido en el articulo 36 de la LOPSRM
                    </p>
                </div>

                <div class="col-md-4">
                    <div class="pull-left ">
                        <label>
                                                <input type="radio" name="radio-01" value="opcion-01"> Si
                                              </label>&nbsp;
                        <label>
                                                <input type="radio" name="radio-01" value="opcion-02"> No
                                              </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>