
<div class="container">
    <form id="FormPanelComponent-investigacion" name="investigacion">
      <fieldset>
        <div id="panel_investigacion">
          <div id="investigacion">
            <h3>Investigaciones Vigentes</h3>
            <hr class="red">
            <div class="">
              <div class="row">
                <div class="col-md-1">
                  <label>Rubro:</label>
                </div>
                <div class="col-md-3">
                  <select class="form-control">
                    <option>Selecciona una opción</option>
                    <option>Bienes</option>
                    <option>Servicios</option>
                    <option>Obras</option>
                    <option>Servivios por obra</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="">
              <div class="row">
                <div class="col-md-9">
                  <hr>
                </div>
              </div>
            </div>
            <div class="">
              <div class="row">
                <div class="col-md-9">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Descripción</th>
                        <th>Fecha de inicio</th>
                        <th>Fecha de conclusión</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <input type="radio" name="radio-01" value="opcion-01">
                        </td>
                        <td class="col-sm-6">
                           Datos de la Investigacion de mercado 1
                        </td>
                        <td class="col-sm-3">
                            01/01/2020
                        </td>
                        <td class="col-sm-3">
                          31/01/2020
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input type="radio" name="radio-01" value="opcion-01">
                        </td>
                        <td class="col-sm-6">
                           Datos de la Investigacion de mercado 2
                        </td>
                        <td class="col-sm-3">
                            01/02/2020
                        </td>
                        <td class="col-sm-3">
                          28/02/2020
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input type="radio" name="radio-01" value="opcion-01">
                        </td>
                        <td class="col-sm-6">
                           Datos de la Investigacion de mercado 3
                        </td>
                        <td class="col-sm-3">
                            01/02/2020
                        </td>
                        <td class="col-sm-3">
                          28/02/2020
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input type="radio" name="radio-01" value="opcion-01">
                        </td>
                        <td class="col-sm-6">
                           Datos de la Investigacion de mercado 4
                        </td>
                        <td class="col-sm-3">
                            01/02/2020
                        </td>
                        <td class="col-sm-3">
                          28/02/2020
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input type="radio" name="radio-01" value="opcion-01">
                        </td>
                        <td class="col-sm-6">
                           Datos de la Investigacion de mercado 5
                        </td>
                        <td class="col-sm-3">
                            01/02/2020
                        </td>
                        <td class="col-sm-3">
                          28/02/2020
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input type="radio" name="radio-01" value="opcion-01">
                        </td>
                        <td class="col-sm-6">
                           Datos de la Investigacion de mercado 6
                        </td>
                        <td class="col-sm-3">
                            01/02/2020
                        </td>
                        <td class="col-sm-3">
                          28/02/2020
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input type="radio" name="radio-01" value="opcion-01">
                        </td>
                        <td class="col-sm-6">
                           Datos de la Investigacion de mercado 7
                        </td>
                        <td class="col-sm-3">
                            01/02/2020
                        </td>
                        <td class="col-sm-3">
                          28/02/2020
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input type="radio" name="radio-01" value="opcion-01">
                        </td>
                        <td class="col-sm-6">
                           Datos de la Investigacion de mercado 8
                        </td>
                        <td class="col-sm-3">
                            01/02/2020
                        </td>
                        <td class="col-sm-3">
                          28/02/2020
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input type="radio" name="radio-01" value="opcion-01">
                        </td>
                        <td class="col-sm-6">
                           Datos de la Investigacion de mercado 9
                        </td>
                        <td class="col-sm-3">
                            01/02/2020
                        </td>
                        <td class="col-sm-3">
                          28/02/2020
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input type="radio" name="radio-01" value="opcion-01">
                        </td>
                        <td class="col-sm-6">
                           Datos de la Investigacion de mercado 10
                        </td>
                        <td class="col-sm-3">
                            01/02/2020
                        </td>
                        <td class="col-sm-3">
                          28/02/2020
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="">
              <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                  <ul class="pagination" style="margin-top: 0px;">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <div id="buttongroup_undefined">
                    <div class="pull-right">
                      <button (click)="navegarCuestionario()" class="btn btn-primary">
                        <span class="oi oi-undefined glyphicon glyphicon-undefined"></span>Ver Detalle
                      </button><span> </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
</div>
